body{
    background: rgb(225, 227, 228);
}
nav{
    height: 4em;
}
#name_title{
    background-image: url('../img/name_title.jpg');
    background-position: 0cm;
    height: 5em;
}
.container_Princip{
    display: flex;
    flex-direction: column;
    align-items: center;
    ;
}
h1{
    font-size: 30px;
    color:white;
    text-align: center;
    font-family: Arial;
}

@media only screen and (min-width: 640px){

    .container_Princip{
        display: flex;
        align-items: center;
    }
    .info{
        width: 500px;
        height: 200px;
        margin-bottom: 10px;
    }
}